@font-face {
  font-family: "iconfont"; /* Project id 2571179 */
  src: url('iconfont.woff2?t=1621948307435') format('woff2'),
       url('iconfont.woff?t=1621948307435') format('woff'),
       url('iconfont.ttf?t=1621948307435') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e69b";
}

.icon-chakanditu:before {
  content: "\e683";
}

.icon-baobao:before {
  content: "\e61a";
}

.icon-zhankai1:before {
  content: "\e601";
}

.icon-fangwu-copy:before {
  content: "\e600";
}

.icon-arrow-right-copy:before {
  content: "\e602";
}

.icon-yunfu:before {
  content: "\e61f";
}

